html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D3F8E2;
}

nav {
    justify-content: center;
    align-items: center;
}

h3 {
    justify-content: center;
    align-items: center;
}